/*  HEADER */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: aliceblue;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
}

.navbar nav {
  padding: 10px;
  font-size: 20px;
}

.navbar nav:hover {
  color: darkcyan;
  font-size: 20px;
  cursor: pointer;
}

#navbar h1 {
  padding: 10px;
  padding-left: 60px;
}

#navbar li {
  padding: 20px;
}

.color-secondary {
  color: #d3a741;
}

/* -----------------   main   ----------- */

.fotodm {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 10%;
}


.dados {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

  margin-left: 35%;
  margin-right: 35%;
  margin-top: 20px;
}

.texto1 {
  text-align: center;
  margin-bottom: 20px;
}

/* input texto */
input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.senha {
  display: flex;
  align-items: center;

  border: none;

}

.olhos {
  width: 25px;
  height: 25px;


  margin-left: -30px;
}

/* input senha */
input[type=password],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*   input entrar */
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* mouse sobre entrar */
input[type=submit]:hover {
  background-color: yellowgreen;
}


.btn-entrar {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  border-radius: 10px;
  background-color: orange;
  color: white;

  text-decoration-line: none;
  text-decoration: none;
}

.btn-entrar:hover {
  background-color: #d3a741;
  cursor: pointer;
}