.usuario-completo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.usuarios-tabela {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: #fff;
    width: 800px;
    height: 250px;
}

.usuarios-opcoes {
    display: flex;

}

.usuarios-opcoes-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.btn-cadastrar-usuario{
    margin-left: 75px;
}

.lado-user{
    margin-right: 200px;
    margin-top: 40px;
    margin-left: 20px;
}

.usuario-span-negrito {
    font-weight: bold;
}

.btn-cadastrar-usuarios{
    margin-right: 200px;
    
}

.usuarios-opcoes-esquerda input[type="text"] {
    margin-left: 10px;
    width: 120px;
    height: 20px;
}


.tipo-acesso-radio {
    margin-bottom: 10px;
}

.tipo-acesso-radio label {
    margin-left: 10px;
}

.usuario-span-margem {
    margin-left: 10px;
}

.usuarios-opcoes-direita {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}